@font-face {
  font-family: "PFDinDisplayPro";
  font-weight: 500;
  src: url("./assets/fonts/PFDinDisplayPro-Medium.ttf");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-weight: 400;
  src: url("./assets/fonts/PFDinDisplayPro-Regular.ttf");
}

body {
  font-family: "PFDinDisplayPro", sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
}
